<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>
<body>
<form th:method="POST" th:action="@{/auth/registration}" th:object="${person}">
    <div class="input-group">
        <input required autocomplete="off" type="text" th:name="userName" id="username">
        <label for="username">username:</label>
        <div style="color: red" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">userName</div>
    </div>
    <br/>
    <div class="input-group">
        <input required autocomplete="off" type="text" th:name="name" id="name">
        <label for="name">name:</label>
        <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name</div>
    </div>
    <br/>
    <div class="input-group">
        <input required autocomplete="off" type="text" th:name="surname" id="surname">
        <label for="surname">surname:</label>
        <div style="color: red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">surname</div>
    </div>
    <br/>
    <div class="input-group">
        <input required autocomplete="off" type="text" th:name="age" id="username">
        <label for="username">age:</label>
        <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age</div>
    </div>
    <br/>
    <div class="input-group">
        <input required autocomplete="off" type="password" th:name="password" id="password">
        <label for="username">password:</label>
        <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password</div>
    </div>
    <br/>

    <input class="input-log" type="submit" value="Sign up!">
    <a th:href="@{/auth/login}">
        <input type="button" class="input-reg" value="Login">
    </a>
</form>

</body>
</html>