<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/books/{id}/edit/(id=${book.getBooks_id()})}" th:object="${book}">
    <label for="name">Name: </label>
    <input id=name type="text" th:field="*{name}" value="${book.getName()}"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br>
    <label for="author">Author: </label>
    <input id=author type="text" th:field="*{author}" value="${book.getAuthor()}"/>
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Name error</div>
    <br>
    <label for="yearOfPublication">Year of publication: </label>
    <input id=yearOfPublication type="text" th:field="*{yearOfPublication}"
           value="${book.getYearOfPublication()}"/>
    <div style="color:red" th:if="${#fields.hasErrors('yearOfPublication')}" th:errors="*{yearOfPublication}">Name
        error
    </div>

    <br>
    <input type="submit" value="Edit book">
</form>
</body>
</html>