<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All people</title>
    <link rel="stylesheet" type="text/css" href="/css/css.css">
</head>
<body>
<div th:each="person : ${people}">
    <a th:href="@{/people/{id}(id=${person.getId()})}"
       th:text="${person.getName()+' '+person.getSurname()+', '+person.getAge()}"></a>
</div>
<hr>

<form th:method="GET" th:action="@{/menu}">
    <input class="floating-button" type="submit" value="Back menu">
</form>
</body>
</html>