<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/css.css">

</head>
<body>
<form th:method="PATCH"  th:action="@{/people/{id}(id=${people.getPeople_id()})}" th:object="${people}">
    <label for="fullname" >Full name: </label>
    <input id=fullname type="text" th:field="*{fullName}" value="${people.getFullName()}"/>
    <div style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Name error</div>
    <br>
    <label for="birthYear" >Birth Year: </label>
    <input id=birthYear type="text" th:field="*{birthYear}" value="${people.getBirthYear()}"/>
    <div style="color:red" th:if="${#fields.hasErrors('birthYear')}" th:errors="*{birthYear}">Birth Year error</div>
    <br>
    <input type="submit" value="Edit people">
</form>
<form th:method="GET" th:action="@{/people}">
    <input type="submit" value="Back">
</form>

</body>
</html>